{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{{ form.media }}
    <div class="row">

            <div class="col-md-120">
    <meta charset="UTF-8">
    <title>Welcome to home</title>
    <h2>Homepage</h2>
    <p style="color:#FF69B4;font-family:Georgia;">Hello {{ user.username }}!</p>
    <p><a href="/logout">Logout</a>
</div>
</div>

<p style="color:#4B0082">
    <meta charset="UTF-8">
<br style="text-align:left;">
    If you would like to contact me, please email me :</br>
    selingungor01@gmail.com</br>
</p>
  <br>

{% endblock %}
