{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{{ form.media }}
    <div class="row">

            <div class="col-md-120">
    <meta charset="UTF-8">
    <title>Welcome to home</title>
    <h1 style="color:#FF69B4;font-family:Georgia;">Homepage</h1>
    <p style="color:#4B0082">Hello {{ user.username }}!</p>
    <p><a href="/logout">Logout</a>

<form id="form" method="POST" enctype="application/x-www-form-urlencoded"  onsubmit="return validateForm()">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    {{ name_form.name.label_tag }}
    {{ name_form.name }}
    {{ name_form.name.errors }}
    <button id="analyse" type="submit">Analyse</button>
     <img src="img/hearts.svg" width=“40" alt="">
</form>
                <div class="col-md-120">
    {% for post in posts %}
                <p>From: {{ post.start_date|date:"M d, Y" }}</p>
                <p>To: {{ post.end_date|date:"M d, Y" }}</p>
    {% endfor %}

{% if deep_you != None %}
                    <img src="{{deep_you}}" width="600" height="450" title="Your twitter sentimental profiling graph">
{% endif %}
                </div>
</div>
</div>
   <script>

    function validateForm() {
        var validator = $("#form");
        if (validator.valid()) {
            $(".loader").show();
        }
    }
    </script>

{% endblock %}
