{% extends 'base.html' %}

{% block content %}
    {% load static %}
  <h2 style="color:#FF69B4;font-family:Georgia;">Welcome to DeepYou!</h2>
<h2> </h2>
<br style="text-align:left;">
<p style="color:#4B0082">
    Would you like to learn about how you feel when you tweet?</br>
  If so, login with your Twitter account and see what happens!
</p>
  <br>
 <!-- <form method="get">-->
   <div style="color:deeppink">Login with Twitter :
        <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static '/img/twitterbuttonn.png' %}" type="submit"></a>
    </div>
 <!--  </form>-->
  <br>

{% endblock %}