{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>About DeepYou</h1>
{{ form.media }}
    <meta charset="UTF-8">
DeepYou is a web application which analysis that specific user's historical emotional analysis based on his/her tweets in the past. To be able to use this application, the user should have Twitter account. After s/he is logged in to DeepYou using her/his Twitter account, s/he should select the date range using datepickers, s/he should see the her emotional anaysis between selected dates.
{% endblock %}
