{% extends "personal/header.html" %}

{% block content %}

    <meta charset="UTF-8">
    <title>Welcome to home</title>
    <p><a href="/logout">Logout</a>

<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>

<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>

<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>
<p>Hey welcome to my website! I am a programmer!</p>


{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
